div {
	text-align: center;
}

h1 {
 	font-size: 80px;
 	font-family: Impact;
}

button {
	width: 350px;
	height: 80px;
	background-color: blue;
	color: white;
}

p {
	font-size: 35px;
}

button:hover {
	background-color: green;
}